:root {
  --hContolPanel: 50px;
  --hControl: calc(var(--hContolPanel) - 20px);
  --br: 4px;
  --indent: 8px;
}

* {
  box-sizing: border-box;
}

.video-panel {
  display: grid;
  /*width: 100%;*/
  /*height: 100vh;*/
  gap: calc(var(--indent) * 2);
  grid-template-areas: "a a"
                       "a a";
}

.video {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: #fff;
  cursor: pointer;
}

.video_fullscreen {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.control-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--hContolPanel);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDD;
  z-index: 20;
}

.control-panel_hidden {
  display: none;
}

.label {
  margin: 0 10px;
}

.input {
  height: var(--hControl);
  padding: 0 var(--indent);
  margin: 0 var(--indent);
  border: 2px solid #AAA;
  border-radius: var(--br);
  outline: none;
  cursor: pointer;
}

.input:focus {
  border: 2px solid #3AC;
}

.input::placeholder {
  color: #DDD;
}

.all-cameras {
  display: inline-block;
  height: var(--hControl);
  padding: 0 var(--indent);
  margin: 0 var(--indent);
  border: 2px solid #AAA;
  border-radius: var(--br);
  background-color: #AAA;
  outline: none;
  cursor: pointer
}

.all-cameras:hover {
  border: 2px solid #999;
}

.all-cameras:active {
  background-color: #888;
}