:root {
  --hControl: 30px;
  --br: 4px;
  --indent: 8px;
}

* {
  box-sizing: border-box;
}

.video-panel {
  display: grid;
  width: 100%;
  /*height: 100vh;*/
  gap: calc(var(--indent) * 2);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.video {
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: #fff;
  cursor: pointer;
}

.video_fullscreen {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.control-panel {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background-color: #DDD;
  opacity: 1;
  transition: opacity 0.5s;
}

.control-panel_hidden {
  opacity: 0;
}

.filter {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: var(--indent) 0;
}

.label {
  margin: 0 var(--indent);
  text-align: center;
}

.input {
  width: 50px;
  height: var(--hControl);
  padding: 0 var(--indent);
  border: 2px solid #AAA;
  border-radius: var(--br);
  text-align: right;
  outline: none;
  cursor: pointer;
}

.input:focus {
  border: 2px solid #3AC;
}

.input::placeholder {
  color: #DDD;
}

.diagram {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  width: 150px;
  height: var(--hControl);
  margin: var(--indent);
  border-radius: var(--br);
  border: 2px solid #999;
  background-color: #fff;
}

.diagram__col {
  flex-grow: 1;
  background-color: #3AC;
  max-height: var(--hControl);
}

.all-cameras {
  flex-shrink: 0;
  display: inline-block;
  height: var(--hControl);
  padding: 0 var(--indent);
  margin: var(--indent);
  border: 2px solid #AAA;
  border-radius: var(--br);
  background-color: #AAA;
  outline: none;
  cursor: pointer
}

.all-cameras:hover {
  border: 2px solid #999;
}

.all-cameras:active {
  background-color: #888;
}

@media screen and (max-width: 640px) {
  .video-panel {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 560px) {
  .control-panel {
    flex-direction: column;
    height: auto;
  }
}